In [10]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
build_ener_df = pd.read_feather("build_ener_df.ftr")
build_ener_df.head()

,OSEBuildingID,BuildingType,PrimaryPropertyType,ZipCode,CouncilDistrictCode,Neighborhood,Latitude,Longitude,YearBuilt,NumberofBuildings,...,SecondLargestPropertyUseTypeGFA,ThirdLargestPropertyUseType,ThirdLargestPropertyUseTypeGFA,ENERGYSTARScore,SiteEnergyUseWN(kBtu),SourceEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions
0,1,NonResidential,Hotel,98101.0,7,DOWNTOWN,47.61220,-122.33799,1927,1,...,0.0,,0.0,60,7456910.0,1.671403e+07,2003882.00,3946027.0,1276453.0,249.98
1,2,NonResidential,Hotel,98101.0,7,DOWNTOWN,47.61317,-122.33393,1996,1,...,15064.0,Restaurant,4622.0,61,8664479.0,1.587726e+07,0.00,3242851.0,5145082.0,295.86
2,3,NonResidential,Hotel,98101.0,7,DOWNTOWN,47.61393,-122.33810,1969,1,...,0.0,,0.0,43,73937112.0,1.853676e+08,21566554.00,49526664.0,1493800.0,2089.28
3,5,NonResidential,Hotel,98101.0,7,DOWNTOWN,47.61412,-122.33664,1926,1,...,0.0,,0.0,56,6946800.5,1.373568e+07,2214446.25,2768924.0,1811213.0,286.43
4,8,NonResidential,Hotel,98121.0,7,DOWNTOWN,47.61375,-122.34047,1980,1,...,68009.0,Swimming Pool,0.0,75,14656503.0,3.785505e+07,0.00,5368607.0,8803998.0,505.01

In [59]:
build_ener_df_enstr_drop = build_ener_df.copy()
build_ener_df_enstr_dflt = build_ener_df.copy()
build_ener_df_enstr_sub_imposs = build_ener_df.copy()
build_ener_df_enstr_oneht = build_ener_df.copy()
build_ener_df_enstr_intrp = build_ener_df.copy()

build_ener_df_enstr_drop = build_ener_df_enstr_drop.loc[
    ~build_ener_df_enstr_drop["ENERGYSTARScore"].isna()
]
build_ener_df_enstr_dflt["ENERGYSTARScore"] = build_ener_df_enstr_dflt[
    "ENERGYSTARScore"
].fillna(
    int(
        build_ener_df_enstr_drop.astype({"ENERGYSTARScore": int})[
            "ENERGYSTARScore"
        ].median()
    )
)
build_ener_df_enstr_sub_imposs["ENERGYSTARScore"] = build_ener_df_enstr_sub_imposs[
    "ENERGYSTARScore"
].fillna(-100)

In [ ]:
# Change all Int to int